include ../mixins/sub-menu.pug

header.header 
  .container
    nav.navbar.navbar-expand-lg.navbar-light
        .container
            .d-flex.align-items-center
              a.navbar-brand(href='/')
                img(src='/images/book-logo.png' alt='' width='80' height='80')
                
              h3.fw-bold.text-title Bookstore

            div
              form.d-flex(style="width: 650px;height: 40px;" bar-search)
                input(class='form-control' type='search' placeholder='Bạn muốn tốt hơn nhờ quyển sách nào ?' aria-label='Search' value=keyword name="keyword")
                button.btn.btn-outline-success(type='submit')
                  i(class="fa fa-search")
            .d-flex.align-items-center
              a(class="me-3" href="#")
                i(class="fa fa-shopping-cart fa-2x icon-cart")
              a(class="me-3" href="#")
                i(class="fa fa-user fa-2x icon-user")
              a.hidden
                img(src="./images/book-logo.png" style="height: 40px; width: 40px; border-radius: 50%")

    //- .container 

    //-     .row.align-items-center    
    //-         .col-1
    //-             .inner-logo 
    //-                 a(href="/")
    //-                     img(src="https://www.shutterstock.com/image-vector/hand-keep-book-read-source-600nw-1127076767.jpg", alt="logo")
    //-                     //- img(src=setting.logo, alt="Logo")
            
    //-         .col-7
    //-             form(
    //-                 action="/search"
    //-                 method="GET"    
    //-             ) 
    //-                 div(class="form-group d-flex mb-0")
    //-                     input(
    //-                         type="text"
    //-                         placeholder="Nhập từ khóa..."
    //-                         class="form-control"
    //-                         name="keyword"
    //-                         value=keyword   
    //-                     )
    //-                     button(
    //-                         type="submit"
    //-                         class="btn btn-primary"
    //-                     ) Tìm

    //-         .col-4 
    //-             .inner-menu 
    //-                 ul 
    //-                     li 
    //-                         a(href="/") Trang chủ
    //-                     li(class="sub-menu")
    //-                         a(href="/products") Sản phẩm
    //-                         if(layoutCategoryProducts)
    //-                             +sub-menu(layoutCategoryProducts)

    //-                     li 
    //-                         a(href="/cart") Giỏ hàng (#{cartTotal})  
                              
    //-                     if(user)
    //-                         li
    //-                             a(href="/user/profile") #{user.fullName}
    //-                         li
    //-                             a(href="/user/logout") Đăng xuất
    //-                     else
    //-                         li
    //-                             a(href="/user/login") Đăng nhập
    //-                         li
    //-                             a(href="/user/register") Đăng ký


                                        
                                
