include ../mixins/sub-menu.pug

header.header 
  .container
    nav.navbar.navbar-expand-lg.navbar-light
        .container
            .d-flex.align-items-center
              a.navbar-brand(href='/')
                img(src='/images/book-logo.png' alt='' width='80' height='80')
                
              h3.fw-bold.text-title Bookstore

            div
              form.d-flex(style="width: 650px;height: 40px;" bar-search)
                input(class='form-control' type='search' placeholder='Bạn muốn tốt hơn nhờ quyển sách nào ?' aria-label='Search' value=keyword name="keyword")
                button.btn.btn-outline-success(type='submit')
                  i(class="fa fa-search")
            .d-flex.align-items-center
              a(class="me-3" href="/cart" style="position: relative; padding-right: 10px;")
                i(class="fa fa-shopping-cart fa-2x icon-cart")
                span(
                  class="" 
                  style="padding: 0px 6px; position: absolute; top: -5px; right: 0px; background: white; color: darkcyan; border-radius: 50px"
                ) #{cartTotal}
              if user
                if user.thumbnail 
                  a#dropdownIn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    img(src=user.thumbnail style="height: 40px; width: 40px; border-radius: 50%")
                  ul.dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownIn')
                    li
                      a.dropdown-item(href='#') Tài khoản của tôi 
                    li
                      a.dropdown-item(href='/user/logout') Đăng xuất 
                else 
                  a#dropdownIn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    img(src="/images/user-default.jpg" style="height: 40px; width: 40px; border-radius: 50%")
                  ul.dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownIn')
                    li
                      a.dropdown-item(href='#') Tài khoản của tôi 
                    li
                      a.dropdown-item(href='/user/logout') Đăng xuất 

              else 
                .dropdown.me-3
                  a#dropdownOut(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    i(class="fa fa-user fa-2x icon-user")
                  ul.dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownOut')
                    li
                      a.dropdown-item(href='/user/login') Đăng nhập 
                    li
                      a.dropdown-item(href='/user/register') Đăng ký 