extends ../../layouts/default.pug 
include ../../mixins/alert.pug

block main 
  .col.py-3
    +alert-success(3000)
    +alert-error(3000)
    
    h1.mb-4 Edit Books

    form(
      action=`/admin/books/edit/${book.id}?_method=PATCH`
      method="POST"
      id="form-create-book"
      class="d-flex flex-column gap-4"
      enctype="multipart/form-data" 
    )
      div(
        class="form-group" 
      )
        label(for="title") Tên sách
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          value=book.title
        )
      div(class="form-group")
        label(for="author") Tác giả 
        input(
          type="text"
          class="form-control"
          id="author"
          name="author"
          required
          value=book.author
        )
      div(class="form-group")
        label(for="category_id") Danh mục
        select(
          name="category_id"
          class="form-control"
          id="category_id"
        )
          option(value="") -- Chọn danh mục --
          for item in categories
            option(
              value=item.id
              selected=(item.id == book.category_id ? true : false)
            ) #{item.title}
      div(class="form-group")
        label(for="price") Giá
        input(
          type="number"
          class="form-control"
          id="price"
          name="price"
          min="0"
          value=book.price
        )
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          class="form-control"
          id="desc"
          name="description"
          rows="5"
          textarea-mce
        ) #{book.description}
      div(
        class="form-group d-flex flex-column"
        upload-image
      )
        input(
          type="file"
          class="form-control-file"
          id="thumbnail"
          name="thumbnail"
          accept="image/*" 
          upload-image-input
        )
        img(
          src=book.thumbnail
          class="image-preview"
          upload-image-preview
        )
      div(class="form-group")
        label(for="position") Vị trí
        input(
          type="number"
          class="form-control"
          id="position"
          name="position"
          placeholder="Tự động tăng"
          min="1"
          value=book.position
        )
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked=(book.status == "active" ? true:false)
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
          checked=(book.status == "inactive" ? true:false)
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
      div(class="form-group")
        button(
            type="submit"
            class="btn btn-primary"
        ) Cập nhật