extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .col.py-5
    .row.gx-5
      aside.col-lg-6
        .rounded-4.mb-3.d-flex.justify-content-center
          a.rounded-4(data-fslightbox='mygalley' target='_blank' data-type='image' href=book.thumbnail)
            img.rounded-4.fit(style='width: 350px; height: auto; margin: auto;' src=book.thumbnail)
      main.col-lg-6
        .ps-lg-3
          h4.title.text-dark #{book.title}
          .mb-3
            span.text-muted.me-2 Tác giả: 
            span #{book.author} 
          .mb-3
            span.text-muted.me-2 Giá:
            span.h5 #{book.price} đồng 
          .mb-3 
            span.text-muted.me-2 Mô tả:
            p #{book.description}
          .row
            dt.col-3 Position:
            dd.col-9 #{book.position}
            dt.col-3 Category:
            dd.col-9 #{book.category}
            dt.col-3 Status:
            if book.status == "active"
              dd.col-9.text-success Active 
            else 
              dd.col-9.text-danger Inactive 
          hr 