//- extends ../../layouts/default.pug
//- include ../../mixins/box-head.pug

//- block main
//-   .container.my-3
//-         .row
//-             .col-8.mx-auto
//-                 +box-head(pageTitle)

//-         form(
//-             action="/user/password/forgot"
//-             method="POST"
//-         )
//-             div(class="form-group")
//-                 label(for="email") Email
//-                 input(
//-                     type="email"
//-                     class="form-control"
//-                     id="email"
//-                     name="email"
//-                     required
//-                 )
//-             div(class="form-group")
//-                 button(
//-                     type="submit"
//-                     class="btn btn-primary btn-block"
//-                 ) Gửi mã OTP


extends ../../layouts/default-user.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  .container.my-5
    .row
      .col-6.mx-auto
        .d-flex.justify-content-between
          +box-head(pageTitle)
          div 
            +alert-success(3000)
            +alert-error(3000)
        form(
          action="/user/password/forgot"
          method="POST"
        )
          div(class="form-group")
            label(for="email" class="mb-2") Email
            input(
              type="email"
              class="form-control mb-2"
              id="email"
              name="email"
              required
            )
          .mt-3.d-flex.flex-row-reverse
            div(class="form-group text-end")
              button(
                type="submit"
                class="btn btn-success btn-block"
              ) Gửi mã OTP