extends ../../layouts/default-user.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  .container.my-5
    .row
      .col-6.mx-auto
        .d-flex.justify-content-between
          +box-head(pageTitle)
          div 
            +alert-success(3000)
            +alert-error(3000)
        form(
          action="/user/password/reset?_method=PATCH"
          method="POST"
        )
          div(class="form-group")
            label(for="password" class="mb-2") Mật khẩu mới 
            input(
              type="password"
              class="form-control mb-2"
              id="password"
              name="password"
              required
            )
          div(class="form-group")
            label(for="password-2" class="mb-2") Xác thực lại mật khẩu 
            input(
              type="password"
              class="form-control mb-2"
              id="password-2"
              name="password2"
              required
            )
          .mt-3.d-flex.flex-row-reverse
            div(class="form-group text-end")
              button(
                type="submit"
                class="btn btn-success btn-block"
              ) Đổi mật khẩu 